@import "./components/CustomCursor/customCursor";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

.font-secondary {
  font-family: "Carter One", cursive;
}
@font-face {
  font-family: "Paragraph";
  src: url(/assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "Special Font";
  src: url(/assets/fonts/AnonymousPro-Regular.ttf);
}

@font-face {
  font-family: "Subtitle";
  src: url(/my-website/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Main Title";
  src: url(/assets/fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: "Secondary Title";
  src: url(/assets/fonts/Poppins-Bold.ttf);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #252525;
  transition: 0.2s;
  background-color: rgb(241, 241, 241);
}

.subtitle {
  font-family: "Subtitle";
  font-size: 1.1rem;
  color: #252525;
  // color: #1abc9c;
  transition: 0.2s;
}

h1 {
  font-family: "Main Title";
  font-size: 2.5rem;
  color: #252525;
  transition: 0.2s;
}

h2 {
  font-family: "Secondary Title";
  font-size: 2rem;
  color: #252525;
  transition: 0.2s;
}

.special {
  font-family: "Special Font";
}

.about_me,
.my_projects,
.my_languages {
  position: relative;
}

.area_checkpoints {
  position: relative;

  .line_checkpoints {
    z-index: -1;
    content: "";
    position: absolute;
    height: 0;
    transition: 2s;
    // height: calc(100% + 12rem);
    width: 4px;
    background-color: #8c9cff;
  }
}

.circle1,
.circle2,
.circle3 {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-45%, 0);
  background: rgb(241, 241, 241);
  border: 2px solid #8c9cff;
}

@media (min-width: 785px) {
  body {
    font-size: 1.1rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1.1rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.7rem;
  }
}

@media (min-width: 1260px) {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}

.text-tb-rl {
  writing-mode: vertical-rl;
}

.slick-next {
  right: -20px;
}
.slick-prev {
  left: -40px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
}

@media (min-width: 600px) {
  .container_project {
    padding: 0 10px;
  }
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #8c9cff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 30;
  transition: 0.2s;

  &:hover {
    filter: brightness(105%);
  }
}

.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(241, 241, 241);
  height: 0;
  width: 0;
}

@media (min-width: 1024px) {
  .slick-slider {
    display: none !important;
  }
}
