@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
.main-cursor,
.secondary-cursor {
  z-index: 10000;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.main-cursor {
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
          animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  mix-blend-mode: difference;
}
.main-cursor .main-cursor-background {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.secondary-cursor {
  width: 50px;
  height: 50px;
  mix-blend-mode: difference;
}
.secondary-cursor .cursor-background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: relative;
  mix-blend-mode: difference;
}
tr .secondary-cursor .cursor-background:after, .secondary-cursor .cursor-background:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
          animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.secondary-cursor .cursor-background:before {
  left: 10px;
}
.secondary-cursor .cursor-background:after {
  right: 10px;
}

.slider-drag .cursor-background {
  -webkit-animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, bgUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
          animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, bgUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.slider-drag .cursor-background:after {
  -webkit-animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, translateRightDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
          animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, translateRightDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.slider-drag .cursor-background:before {
  -webkit-animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, translateLeftDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
          animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, translateLeftDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.slider-drag .main-cursor {
  -webkit-animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
          animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.hamburger .cursor-background {
  -webkit-animation: fadeOut 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
          animation: fadeOut 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.hamburger .main-cursor-background {
  -webkit-animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
          animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bgUp {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}
@keyframes bgUp {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}
@-webkit-keyframes bgDown {
  from {
    background-color: black;
  }
  to {
    background-color: transparent;
  }
}
@keyframes bgDown {
  from {
    background-color: black;
  }
  to {
    background-color: transparent;
  }
}
@-webkit-keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@-webkit-keyframes scaleDown {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes translateLeftDot {
  from {
    transform: translate(20px, -50%);
  }
  to {
    transform: translate(0px, -50%);
  }
}
@keyframes translateLeftDot {
  from {
    transform: translate(20px, -50%);
  }
  to {
    transform: translate(0px, -50%);
  }
}
@-webkit-keyframes translateRightDot {
  from {
    transform: translate(-20px, -50%);
  }
  to {
    transform: translate(0px, -50%);
  }
}
@keyframes translateRightDot {
  from {
    transform: translate(-20px, -50%);
  }
  to {
    transform: translate(0px, -50%);
  }
}
html {
  scroll-behavior: smooth;
}

.font-secondary {
  font-family: "Anton", sans-serif;
}

.font-third {
  font-family: "Mynerve", cursive;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #252525;
  transition: 0.2s;
  background-color: rgb(255, 255, 255);
}

.subtitle {
  font-size: 1.1rem;
  color: #252525;
  transition: 0.2s;
}

h1 {
  font-size: 2.5rem;
  color: #252525;
  transition: 0.2s;
}

h2 {
  font-size: 2rem;
  color: #252525;
  transition: 0.2s;
}

p {
  color: #393939;
}

.special {
  font-family: "Special Font";
}

.about_me,
.my_projects,
.my_languages {
  position: relative;
}

.area_checkpoints {
  position: relative;
}
.area_checkpoints .line_checkpoints {
  z-index: -1;
  content: "";
  position: absolute;
  height: 0;
  transition: 2s;
  width: 4px;
  background-color: #8c9cff;
}

.circle1,
.circle2,
.circle3 {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-45%, 0);
  background: white;
  border: 2px solid #8c9cff;
}

@media (min-width: 785px) {
  body {
    font-size: 1.1rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 1.1rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2.7rem;
  }
}
@media (min-width: 1260px) {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}
.text-tb-rl {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -40px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
}

@media (min-width: 600px) {
  .container_project {
    padding: 0 10px;
  }
}
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #8c9cff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 30;
  transition: 0.2s;
}
.scroll-top:hover {
  filter: brightness(105%);
}

.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(241, 241, 241);
  height: 0;
  width: 0;
}

@media (min-width: 1024px) {
  .slick-slider {
    display: none !important;
  }
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  font-size: 16px;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-input:not(:-moz-placeholder-shown) + .form-label {
  top: 10px;
  font-size: 12px;
  color: #333;
}

.form-input:not(:-ms-input-placeholder) + .form-label {
  top: 10px;
  font-size: 12px;
  color: #333;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: 10px;
  font-size: 12px;
  color: #333;
}

.btn_submit_form:disabled {
  background-color: #cbcbcb;
  cursor: not-allowed;
  border: #cbcbcb;
}

.intro-illustration {
  background: #8c9cff;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.footer-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #8c9cff;
  top: 0;
  opacity: 0.3;
}/*# sourceMappingURL=main.css.map */